/* Messages */
.message-success {
    color:#749747 !important;
    background:#eff4e8 !important;
    border:1px solid #e2e9d9 !important;
}

.message-error {
    color:#A64B49 !important;
    background:#fee !important;
    border:1px solid #ffe1e0 !important;
}

.scpt-field-wrap {
    margin: 10px 0;
}
label.scpt-meta-label {
    font-weight: bold;
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
}
span.scpt-option {
    display: block;
    padding: 3px 0 3px 15px;
}
label.scpt-meta-label.choice {
    display: inline;
    font-weight: normal;
    margin-left: 5px;
}
textarea.scpt-field {
    width: 100%;
    max-width: 800px;
    height: 100px;
}
input[type="text"].scpt-field,
input[type="date"].scpt-field,
input[type="email"].scpt-field,
input[type="url"].scpt-field,
input[type="datetime"].scpt-field,
input[type="color"].scpt-field,
input[type="number"].scpt-field,
input[type="tel"].scpt-field,
input[type="time"].scpt-field,
input[type="range"].scpt-field,
textarea.scpt-field,
select.scpt-field {
    max-width: 100%;
}
#side-sortables select.scpt-field {
    width: 100%;
}

.scpt-field-wrap .mceIframeContainer {
    background: #fff;
}



.scpt-box-description {
    margin-top: 1em;
    color: #333;
    font-size: 1.1em;
}

.scpt-field-description {
    margin: .5em 0 2em 0;
    color: #666;
}

.media-preview {
    max-width: 100%;
    height: auto;
}

.scpt-section-title {
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  line-height: 1.5;
  margin: 1em 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* =Repeating Styles
-------------------------------------------------------------- */
@font-face {
    font-family: 'scpt-icons';
    src:url('../fonts/scpt-icons.eot?xos5mr');
    src:url('../fonts/scpt-icons.eot?#iefixxos5mr') format('embedded-opentype'),
        url('../fonts/scpt-icons.woff?xos5mr') format('woff'),
        url('../fonts/scpt-icons.ttf?xos5mr') format('truetype'),
        url('../fonts/scpt-icons.svg?xos5mr#scpt-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="scpt-icon-"], [class*=" scpt-icon-"] {
    font-family: 'scpt-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scpt-icon-minus:before {
    content: "\e600";
}
.scpt-icon-plus:before {
    content: "\e601";
}
.scpt-icon-up:before {
    content: "\e602";
}
.scpt-icon-down:before {
    content: "\e603";
}
.scpt-icon-toggle-open:before {
    content: "\e604";
}
.scpt-icon-toggle-close:before {
    content: "\e605";
}

.scpt-repeat-group-head {
    padding: .75em;
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid #eee;
}

.scpt-repeat-group-container {
    padding: .75em .5em;
    border: 1px solid #eee;
}

.scpt-repeat-group-container-title {
    font-weight: bold;
    font-size: 1.1em;
}

.scpt-repeat-group-container-toggle,
.scpt-repeat-group-toggle {
    float: right;
}

.scpt-repeat-controls > * {
    margin: 0 .75em;
    cursor: pointer;
}

.scpt-icon-toggle-open,
.scpt-icon-toggle-close {
    cursor: pointer;
}

.scpt-repeat-group-container-title {
    padding: .25em 0 1em 0;
}

.scpt-icon-toggle-open:hover,
.scpt-icon-toggle-closed:hover,
.scpt-repeat-controls > *:hover {
    color: #999;
}

.scpt-repeat-controls {
    float: right;
    margin: 0 1.5em;
}

.scpt-repeat-group-content {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-bottom: 1em;
    padding: 1em;
}

/* =Icon Madness
-------------------------------------------------------------- */

#scpt_icons dl {
    float: left;
    width: 125px;
    padding: 10px 5px;
    overflow:hidden;
}
#scpt_icons dt {
    margin: 0 auto 3px;
    padding: 0;
    width: 64px;
    height: 64px;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
}
#scpt_icons dd {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: center;
}