@font-face {
  font-family: 'museo_sans100';
  src: url('../fonts/museosans_100-webfont.eot');
  src: url('../fonts/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/museosans_100-webfont.svg#museo_sans100') format('svg'),
       url('../fonts/museosans_100-webfont.woff') format('woff'),
       url('../fonts/museosans_100-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}