div,
div:before,
div:after {
  box-sizing: border-box;
}

.btn-danger rect {
  fill: #fff;
}

.btn {
   -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }

#poststuff .postbox > h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #d9d9d9;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}