/* Helper Classes
----------------------------------------*/

// WP MEDIA ALIGN OPTIONS
  .alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
  }
  .alignright {
    display: inline;
    float: right;
    margin-left: 24px;
  }
  .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
  }

.flex-image {
  width: auto;
  height: auto;
  max-width: 100%;
}
img[src*=svg] {
  width: 100%\9;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 100%;
  }
}

.flex-container {
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}