.tabs {
  list-style: none;
  display: table;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 10px;

  .page-content & {
    width: calc(100% + 10px);
    max-width: 745px;
    padding: 10px 45px 10px 0;
    margin: {
      right: -5px;
      left: -5px;
    }
  }
}

.tabs__tab {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  font-family: $font-accent-light;
  line-height: 0.85;
  letter-spacing: -0.5px;
  color: white;
  padding: 0 5px;

  .tabs--landing & {
    font-size: rem(24px);

    @include respond-max(em(574px)) {
      display: block;
      padding: 5px;
    }
  }
}

.tab__title {
  display: block;
  background-color: $color-alt-7;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: darken($color-alt-7, 5%);
  }

  .tab--active & {
    background-color: $color-alt-2;
    cursor: default;
  }
}

.tab__content {
  padding: 0 15px;

  .page-content & {
    padding: 0;
  }
}