.hero {
  position: relative;
  line-height: 0;
  padding-bottom: (526/1265)*100%;
}

.hero__content {
  position: absolute;
  z-index: 1;  left: 0;
  width: 100%;
  line-height: normal;
  background-color: rgba(white, 0.9);
}

.hero__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}