.grid {
  @include flex-grid(ul, top, null, center, true);
  margin: -5px -5px 0;
}

.grid--instagram {
  max-width: 375px;
  margin: -1px -1px 0;
}

.grid__item {
  padding: 5px;
  position: relative;

  .grid--4-items & {
    width: (1/4)*100% - 0.1%;
  }

  .grid--instagram & {
    width: (1/3)*100%;
    line-height: 0;
    padding: 1px;
  }

  & > * + * {
    margin-top: 15px;
  }
}

.grid__item__title {

  .grid--landing & {
    font-size: rem(30px);
    letter-spacing: -0.25px;
    line-height: (32/30);
  }
}

.grid__item__image-container {
  position: relative;
  line-height: 0;
  overflow: hidden;

  .grid--landing & {
    padding-bottom: (640/600)*100%;

    @include respond-min(em(1265px)) {
      height: 320px;
      padding-bottom: 0;
    }
  }
}

.grid__item__image {
  position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;

  .grid--instagram & {
    position: relative;
  }
}

.grid__item__content {
  padding: 0 10px 15px;

  & > * + * {
    margin-top: 5px;
  }
}

.grid__item__copy {

  .grid--landing & {
    font-size: rem(15px);
    line-height: (20/15);
  }
}