.form__input {
  -webkit-appearance: none;
  width: 100%;
  line-height: (15/14);
  color: black;
  padding: 11px 10px 10px;
  border: none;
  border-radius: 0;
}

.form--single-input {
  display: table;
  width: 100%;
}

.form--single-input__item {
  display: table-cell;
  vertical-align: middle;
}

.form--single-input__input {
  width: 100%;
  padding-right: 5px;
}

body .gform_wrapper {
  border: none !important;

  #{$fields} {
    @extend .form__input;
    border: solid 1px darken($color-alt-6, 10%);
  }

  .gfield_label {
    font: {
      family: $font-accent-medium;
      size: rem(14px);
      weight: normal !important;
    }
    margin-bottom: 0 !important;
  }

  .gform_footer {
    margin-top: 0.625em;
  }
}