.title {
  font: {
    family: $font-alt-light;
    size: rem(24px);
  }
  line-height: 1;

  .aside--main & {
    padding: 10px 10px 8px 45px;
  }
}

$colors-list: ($color-alt-1, $color-alt-2, $color-alt-3, $color-alt-4, $color-alt-5);
$current-color: ();

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .title--color-#{$i} {
    color: $current-color;
  }

  .title--bkg-color-#{$i} {
    color: white;
    background-color: $current-color;
  }
}