.hero {
  position: relative;
  min-height: 414.563px;
  line-height: 0;
  padding-bottom: (526/1265)*100%;
  overflow: hidden;

  @include respond-min(em(1265px)) {
    height: 526px;
    padding-bottom: 0;
  }
}

.hero__content {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  line-height: 1.4;
  padding: 30px 0 35px;
  .headline {
    color: white;
  }
}

.hero__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 990px;
  height: auto;
}

$colors-list: ($color-alt-1, $color-alt-2, $color-alt-3, $color-alt-4, $color-alt-5);
$current-color: ();

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .hero__content--color-#{$i} {
    background-color: rgba($current-color, 0.9);
  }
}