.table {
  display: table;
  width: 100%;

  @include respond-min(em($mobile-menu-flip-min)) {
    .menu--main & {
      padding-bottom: 20px;
    }
  }
}

.table--with-aside {
  position: relative;
}

.table--top-offset {
   margin-top: -35px;
}

.table__item {
  display: table-cell;
  vertical-align: top;

  .table--2-items > & {
    width: 50%;
  }

  .table--3-items > & {
    width: (1/3)*100%;
    padding: {
      right: 15px;
      left: 15px;
    }
  }

  .table--2-items-flex-first > & {
    vertical-align: middle;

    &:first-child {
      width: 100%;
    }

    @include respond-max(em($mobile-menu-flip-max)) {
      display: block;
    }
  }

  .table--with-aside > & {

    &:first-child:not(:last-child) {
      width: (325/1265)*100%;
    }
    &:last-child:not(:first-child) {
      width: (940/1265)*100%;
      padding: {
        right: 15px;
        left: 15px;
      }
    }
    &:first-child:last-child {
      width: 100%;
    }
  }

  .table--top-offset > & {
    position: relative;

    &:first-child:not(:last-child) {
      padding-top: 45px;
    }
    &:last-child {
      background-color: $color-alt-6;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 10000px;
        background-color: $color-alt-6;
      }
    }
    &:last-child:not(.table__item--no-padding) {
      padding: 15px;
    }
  }

  .menu--main & {

    @include respond-min(em($mobile-menu-flip-min)) {
      padding: 0 30px;
    }

    @include respond-min(em(875px)) {

      &:first-child {
        padding: {
          right: 15px;
          left: 30px;
        }
      }
      &:last-child {
        padding: {
          right: 30px;
          left: 15px;
        }
      }
    }
    @include respond-max(em(874px)) {
      display: block;
      width: 100%;
    }
  }


}