// Tribe Events Overrides
  #tribe-events-pg-template {
    max-width: 745px !important;
    margin: 0 !important;
  }

  .tribe-events-page-title {
    width: 100%;
    font-size: rem(28px) !important;
    line-height: (38/36);
    text-align: left !important;
    color: white;
    padding: 9px;
    background-color: $color-alt-5;
  }

  .tribe-events-list-separator-month {
    font: {
      family: $font-alt-medium;
      size: u(1rem) !important;
      weight: normal !important;
    }
    color: $color-alt-7;
    padding-left: 0 !important;
    background-color: transparent !important;
    border-bottom: solid 1px $color-alt-7;
  }

  .tribe-events-list .type-tribe_events {
    padding-top: 15px !important;
  }
  .tribe-events-list .type-tribe_events:not(:last-child) {
    padding-bottom: 0 !important;
  }

  .tribe-events-list-event-title {
    font: {
      family: $font-alt-medium;
      size: rem(26px) !important;
      weight: normal !important;
    }
  }

  .tribe-events-loop .tribe-events-event-meta {
    font: {
      family: $font-alt-medium;
      size: rem(15px) !important;
      weight: normal !important;
    }
  }

  .tribe-events-single-event-title,
  .tribe-events-schedule h3 {
    font-weight: normal;
  }

// END Tribe Events Overrides