// -- THEME COLORS -----------------------
$color-base  : #434040; // Base Black

$color-alt-1 : #2a316c; // Dark Blue
$color-alt-2 : #00b3ee; // Light Blue
$color-alt-3 : #00a892; // Teal
$color-alt-4 : #e0e060; // Lemon
$color-alt-5 : #ff7e00; // Orange

$color-alt-6 : #eeeeee; // Light Gray
$color-alt-7 : #a3a0a0; // Medium Gray
$color-alt-8 : #282828; // Dark Gray
