.hero {
  position: relative;
  line-height: 0;
  padding-bottom: (526/1265)*100%;
}

.hero__content {
  position: absolute;
  z-index: 1;  left: 0;
  width: 100%;
  line-height: normal;
  background-color: rgba(white, 0.9);
}

.hero__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

$colors-list: ($color-alt-1, $color-alt-2, $color-alt-3, $color-alt-4, $color-alt-5);
$current-color: ();

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .hero__content--color-#{$i} {
    background-color: $current-color;
  }
}