.headline {
  font: {
    family: $font-accent-medium;
    weight: normal;
  }
  margin: 0;
}

.headline--carousel {
  font-size: #{(69/24)}em;
  letter-spacing: -3px;
  color: white;
}

.headline--light {
  font-family: $font-accent-light;
}

.headline--emphasis {
  font-family: $font-accent-light-italic;
}

.headline--shout {
  text-transform: uppercase;
}

.headline--section-divide {
  width: calc(100% - 30px);
  font-size: rem(36px);
  line-height: (38/36);
  text-align: center;
  color: white;
  padding: 9px;
  background-color: $color-alt-3;
  margin: 0 15px;
}

$colors-list: ($color-alt-1, $color-alt-2, $color-alt-3, $color-alt-4, $color-alt-5);
$current-color: ();

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .headline--color-#{$i} {
    color: $current-color;
  }
}