/* Main Header
----------------------------------------*/

.header--main {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0 (45/825)*100%;
  background-color: rgba(white, 0.9);
  border-top: solid 7px $color-alt-1;
  transition: background-color 0s linear 250ms;

  &.mobile-menu-open {
    background-color: white;
    transition: background-color 0s linear;
  }

  @include respond-max(em($mobile-menu-flip-max)) {
    line-height: 0;
  }

  @include respond-min(em($mobile-menu-flip-min)) {
    display: table;
    padding: {
      right: 45px;
      left: 45px;
    }
  }
}

.header--main__item {
  &:first-child {
    width: 155px;
  }

  @include respond-min(em($mobile-menu-flip-min)) {
    display: table-cell;
    vertical-align: middle;
  }
}

.site-logo {
  position: relative;
  max-height: 104px;
  line-height: 0;
  overflow: hidden;

  @include respond-max(em($mobile-menu-flip-max)) {
    display: inline-block;
  }
}

.site-logo__link {
  display: block;
  height: 100%;
  text-decoration: none;

  @include respond-min(em($mobile-menu-flip-min)) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
  }
}

.site-logo__image {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;

  .site-logo--icon-only & {
    display: none;
  }
}

.site-logo__icon {
  position: relative;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 55.129px;
  height: 100%;
  margin-top: 50%;

  .site-logo--icon-only & {
    opacity: 1;
    margin-top: 0;
  }
}

.nav--main {

  @include respond-max(em($mobile-menu-flip-max)) {
    display: none;
    position: absolute;
    right: (45/825)*100%;
    width: 100%;
    max-width: 415px;
    background-color: white;
    border-top: solid 1px $color-alt-7;
    margin: 0 #{-(45/825)*100%};
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }
}

.social-connect {
  padding: 20px (45/825)*100%;

  @include respond-min(em($mobile-menu-flip-min)) {
    width: 90px;
    padding: 0;
  }
}

.social-connect__title {
  display: block;
  font: {
    family: $font-accent-medium;
    size: rem(14px);
  }
  line-height: 0.85;
  text-align: center;
  color: black;
  margin-bottom: 6px;
}