# SUBLIME FILES #
#################
*.sublime-project
*.sublime-workspace

# SASS CACHE #
##############
.sass-cache/

# SYSTEM FILES #
################
.DS_Store

# WP FILES #
############
wp-config.php
.htaccess

# PLUGIN FILES #
################
wp-content/plugins/wordfence/tmp/

# NODE / GRUNT #
################
node_modules/
bower_components/

# VAGRANT #
###########
.vagrant/
vagrantfile