// stylesheet compile for ie8

// config
$px-only : true;
$old-ie  : true;

// add site wrapper's media query val from style.css here
$fix-mqs : 76.78125em; // .wrapper mq value

// import normalize
@import "vendor/normalize-3.0.2";

// import sass functions
@import "modules/functions";

// import sass mixins
@import "modules/utils";

// import partials
@import "partials/partials-all";